.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 16px;
  line-height: 1.25;
}

.markdown h1 {
  font-size: 1.5em;
  padding-bottom: 0.3em;
}

.markdown h2 {
  font-size: 1.5em;
  padding-bottom: 0.3em;
}

.markdown h3 {
  font-size: 1.25em;
}

.markdown h4 {
  font-size: 1em;
}

.markdown h5 {
  font-size: 0.875em;
}

.markdown h6 {
  font-size: 0.85em;
  color: #6a737d;
}

.markdown p {
  margin-top: 0;
  margin-bottom: 16px;
  line-height: 1.6;
}

.markdown a {
  color: #0366d6;
  text-decoration: none;
}

.markdown a:hover {
  text-decoration: underline;
}

.markdown ul,
.markdown ol {
  margin-top: 0;
  margin-bottom: 16px;
  padding-left: 2em;
}

.markdown li {
  margin-top: 0.25em;
}

.markdown blockquote {
  margin: 0 0 16px 0;
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.markdown blockquote p:last-child {
  margin-bottom: 0;
}

.markdown code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier,
    monospace;
}

.markdown pre {
  word-wrap: normal;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}

.markdown pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.markdown table {
  width: 100%;
  overflow: auto;
  border-collapse: collapse;
  margin-top: 0;
  margin-bottom: 16px;
}

.markdown table th,
.markdown table td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.markdown table th {
  font-weight: 600;
}

.markdown table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.markdown table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.markdown img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

.markdown hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}
